
/Data/MillionSongSubset/
/.ipynb_checkpoints/
/Python_Files/config.py
/Extra Stuff/01_Web_Scraper.ipynb

.idea
/Extra Stuff/selenium-scraping/
/chromedriver/
/Extra Stuff/Untitled.ipynb
/Notebooks/.ipynb_checkpoints/
/data/.h5_files/D1_subset_std_feats.h5
/data/.h5_files/D1_subset_weights.h5
/data/dnb_df.csv
/data/feats.csv
/data/dstep_df.csv
/data/.csv_files/
/data/.npy_files/
